section, h1 {
 margin: 2rem 4rem; 
}
.square {
  width: 150px;
  height: 150px; 
  position: relative;
  transition: transform 5s;
}


/* 
- http://css-snippets.com/browser-prefix/
- http://caniuse.com/ 
*/

/* number #1 */
#one .square {
  background-color: crimson;
}


#one .square:hover { 
  background-color: DarkMagenta;
}
  

/* number #2 */
#two .square {
  background: Gold;   
}
#two .square div { 
   background: Salmon;  
   position: absolute;
   left: 25%;
   top: 25%;
   width: 75px;
   height: 75px;
   transition: transform 5s;
}

#two .square div:hover {
}

/* number #3 */
#three .square {
  background-color: RoyalBlue;
}

#three .square:hover { 
}
















